<section class="section">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="./assets/passportSizePhotoGautam-min.jpg" alt="About Me"
                    class="img-fluid rounded-circle mb-4">
            </div>
            <div class="col-md-6">
                <h2 class="section-title">About Me</h2>
                <p class="about-description">
                    Hi there! I'm <b>Gautam, a passionate Software Engineer</b>. I specialize in
                    developing modern web applications using Angular, SpringBoot. With over 2 years of experience
                    in the field, I have a strong foundation in front-end development and a keen eye for user
                    experience.
                </p>
                <p class="about-description">
                    My journey into the world of programming began during my college days, where I discovered my love
                    for coding and problem-solving. Since then, I've been on a continuous learning journey, exploring
                    new technologies and refining my skills.
                </p>
                <p class="about-description">
                    When I'm not coding, you can find me singing my favorite songs, experimenting with new softwares, or
                    catching up on the latest tech trends.
                </p>
            </div>
        </div>
    </div>
</section>