<ul class="nav justify-content-center">
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/" fragment="about">About</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/" fragment="projects">Projects</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/" fragment="skills">Skills</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/" fragment="contact">Contact</a>
    </li>
</ul>