.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  gap: 30px;
  background: #fff;
}

.nav-item .nav-link {
  color: rgb(93, 3, 3);
  transition: all 0.3s ease;
}

.nav-link.active {
  background: linear-gradient(to right, rgb(93, 3, 3), rgb(135, 51, 51));
  border-radius: 15px;
  color: white !important;
}
.nav-link:hover {
  background-color: rgba(93, 3, 3, 0.8);
  border-radius: 15px;
  color: white !important;
}
