<section id="projects" class="section">
    <div class="container">
        <h2 class="section-title mb-5">Projects</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100 p-2">
                    <!-- <img src="./assets/arduino.png" class="card-img-top img-thumbnail" alt="Project 1"> -->
                    <div class="card-body">
                        <h5 class="card-title">Smart Posture Guide</h5>
                        <p class="card-text">This project detects the distance between person and computer screen and it
                            gives a warn alert to maintain correct distance to the user to prevent screen harmful
                            effects.</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary">Github Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 p-2">
                    <!-- <img src="./assets/project2.jpg" class="card-img-top" alt="Project 2"> -->
                    <div class="card-body">
                        <h5 class="card-title">Smart Capture</h5>
                        <p class="card-text">Got an exposure to Data Science technology where I used Python and Machine
                            learning to implement Natural Language processing algorithm to differentiate between
                            unchecked and checked boxes in the form.
                        </p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary ">GitHub Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 p-2">
                    <!-- <img src="./assets/project3.jpg" class="card-img-top" alt="Project 3"> -->
                    <div class="card-body">
                        <h5 class="card-title">MCP SRE </h5>
                        <p class="card-text">Working on ADP’s project where I was responsible for keeping the systems up
                            and running. From Handling the Client access to ADP sites and monitoring the
                            Server/Updating/ configuring systems.
                        <p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary">GitHub Link</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>