<section id="contact" class="section">
    <div class="container">
        <h2 class="section-title mb-5">Contact</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Get in Touch</h3>
                <p>If you have any questions or inquiries, feel free to reach out to me. I'm always happy to connect!
                </p>
                <ul class="list-unstyled">
                    <li>Email: gautam1564p1@gmail.com</li>
                    <li>Phone: +91-6280941564</li>
                    <li>Address: Hyderabad, India</li>
                </ul>
            </div>
            <div class="col-md-6 ">
                <a href=" https://github.com/Gautamp11" target="_blank" class="contact-link">
                    <i class="fab fa-github"></i>
                    <h4>GitHub</h4>
                </a>
                <a href="https://www.instagram.com/gautamp1" target="_blank" class="contact-link">
                    <i class="fab fa-instagram"></i>
                    <h4>Instagram</h4>
                </a>

                <a href="mailto:gautam1564p1@gmail.com" class="contact-link">
                    <i class="fas fa-envelope"></i>
                    <h4>Email</h4>
                </a>
            </div>
        </div>
    </div>
</section>