/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";


html,
body {
    scroll-behavior: smooth;
    background-image: url('./assets/leone-venter-VieM9BdZKFo-unsplash.jpg');
    background-size: contain;

}

.container {
    margin-top: 12vh;
    margin-bottom: 5vh;
    max-width: 950px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    background: #000;
    background-color: rgb(93, 3, 3);
}

.btn:hover {
    transform: scale(1.05);
    transition: 0.2s;
    background-color: black;
    color: white;
}

h5 {
    color: #009688;

}

p {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding: 10px;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black
}

h2 {
    color: #333;
}